.container{
    height: 100vh;
    box-sizing: border-box;
    padding: 5rem;
}
.vg-graphic{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vg-animation 1s infinite ease-in-out alternate;
}

@keyframes vg-animation {
    to{
        transform: translateY(-10px);
    }
    
}
.brandsBanner>svg{
    display: flex;
    color: white;
    font-size: xx-large;
    transition: color 0.5s;

}
.brandsBanner>svg:hover{
    color: rgb(255,221,0);
}

.container2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 video{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    outline: none;
    width: 60%;
}